- if @user_workplaces.none?
  .col-md-12.text-center
    %h2 
      Hi there! Let's find your workplace.
      %br
      %br
      = render 'workplaces/search'

.col-md-12.text-center
  - if @user_workplaces.any?
    %h2 My Workplaces
    %br
    - @user_workplaces.each do |workplace|
      = link_to workplace.name, workplace_path(workplace.workplace_id), class: 'btn btn-primary'
    %br
    %br
    = link_to "Find another workplace!", workplaces_path, class: 'btn btn-default'
    %br
    %h2 My Available Shifts
    %br
    - @available_shifts.each do |shift|
      .btn-group{role: "group"}
        .btn.btn-default
          %p
            = Workplace.find(shift.workplace_id).name
            %br
            = shift.name
            shift
            %br
            = shift.date.strftime("%A, %m/%d/%Y")
            %br
            = shift.start.strftime("%l:%M %p")
            to
            = shift.finish.strftime("%l:%M %p")
    %br
    %h2 My Accepted Shifts
    %br
    - @accepted_shifts.each do |shift|
      .btn-group{role: "group"}
        .btn.btn-default
          %p
            = Workplace.find(shift.workplace_id).name
            %br
            = shift.name
            shift
            %br
            = shift.date.strftime("%A, %m/%d/%Y")
            %br
            = shift.start.strftime("%l:%M %p")
            to
            = shift.finish.strftime("%l:%M %p")