- if @user_workplaces.none?
  .col-md-12.text-center
    %h2 
      Hi there! Let's find your workplace.
      %br
      %br
      = render 'workplaces/search'

.col-md-12.text-center
  - if @user_workplaces.any?
    %h2 My Workplaces
    %br
    - @user_workplaces.each do |workplace|
      = link_to workplace.name, workplace_path(workplace.workplace_id), class: 'btn btn-primary'
    %br
    %br
    = link_to "Find another workplace", workplaces_path, class: 'btn btn-info'
    %br
    - if @user_requests.any? || @coworker_requests.any?
      %h2 My Shift Trade Requests
      - @user_requests.each do |shift|
        %h4
          Your request to trade your
          %br
          = Shift.find(shift.user_shift).name
          shift on
          %br
          = Shift.find(shift.user_shift).date.strftime("%A, %m/%d/%Y")
          %br
          is still pending approval.
          %br
          %br
          You will be notified by email when it has been approved or rejected.
          %br
      - @coworker_requests.each do |shift|
        %h4
          = User.find(shift.user_id).name
          wants to trade their
          %br
          %br
          = Shift.find(shift.user_shift).name
          shift
          %br
          = Shift.find(shift.user_shift).date.strftime("%A, %m/%d/%Y")
          %br
          = Shift.find(shift.user_shift).start.strftime("%l:%M %p")
          to
          = Shift.find(shift.user_shift).finish.strftime("%l:%M %p")
          %br
          %br
          for your
          %br
          %br
          = Shift.find(shift.coworker_shift).name
          shift
          %br
          = Shift.find(shift.coworker_shift).date.strftime("%A, %m/%d/%Y")
          %br
          = Shift.find(shift.coworker_shift).start.strftime("%l:%M %p")
          to
          = Shift.find(shift.coworker_shift).finish.strftime("%l:%M %p")
          %br
          %br
          = link_to "Accept", user_request_path(@user, shift), class: 'btn btn-primary', method: :patch
          = link_to "Deny", user_request_path(@user, shift), class: 'btn btn-warning', method: :delete
          %br
    %h2 My Available Shifts
    %br
    - @available_shifts.each do |shift|
      .btn-group{role: "group"}
        .btn.btn-default
          %p
            = Workplace.find(shift.workplace_id).name
            %br
            = shift.name
            shift
            %br
            = shift.date.strftime("%A, %m/%d/%Y")
            %br
            = shift.start.strftime("%l:%M %p")
            to
            = shift.finish.strftime("%l:%M %p")
            %br
            = link_to "Delete", workplace_shift_path(Workplace.find(shift.workplace_id).name, shift), class: 'btn btn-danger', method: :delete
    %br
    %br
    %h2 My Accepted Shifts
    %br
    - @accepted_shifts.each do |shift|
      .btn-group{role: "group"}
        .btn.btn-default
          %p
            = Workplace.find(shift.workplace_id).name
            %br
            = shift.name
            shift
            %br
            = shift.date.strftime("%A, %m/%d/%Y")
            %br
            = shift.start.strftime("%l:%M %p")
            to
            = shift.finish.strftime("%l:%M %p")
            %br
            = link_to "Delete", workplace_shift_path(Workplace.find(shift.workplace_id).name, shift), class: 'btn btn-danger', method: :delete
    %br
    %br
    