= form_for [@workplace, @shift] do |f|
  .field
    = f.label "Shift"
    %br
    = f.text_field :name
  .field
    = f.label :date
    %br
    = f.date_select "date", order: [:month, :day]
  .field
    = f.label :start
    %br
    = f.time_select "start", ampm: true, minute_step: 15
  .field
    = f.label :finish
    %br
    = f.time_select "finish", ampm: true, minute_step: 15
  .field
    %br
    = f.submit "Post Shift Request", class: 'btn btn-primary', method: :post