.col-md-12.text-center
  %h1
    = @workplace.name
  %p
    = @workplace.address
    = "#{@workplace.city + ', ' + @workplace.state}"
  %br
  %br

- unless @pending_users.include?(current_user)
  .col-md-12.text-center
    %h2 Available Shifts
    - @shifts.each do |shift|
      .btn-group{role: "group"}
        .btn.btn-default
          %p
            = "#{shift.user_name}'s"
            %br
            = shift.name
            shift
            %br
            = shift.date.strftime("%A, %m/%d/%Y")
            %br
            = shift.start.strftime("%l:%M %p")
            to
            = shift.finish.strftime("%l:%M %p")
      %br
      %br
      - unless shift.user_name == current_user.name
        = link_to "Accept Shift", workplace_shift_path(@workplace, shift, shift: {user_name: current_user.name, accepted: true, date: shift.date, name: shift.name}), method: :patch, class: 'btn btn-success',  data: {confirm: "Are you sure you want to accept this shift?"}
        = link_to "Ask to Trade", edit_workplace_shift_path(@workplace, shift), class: 'btn btn-info'
        %br
      %br
    - if @shifts.any?
      = link_to "Post new shift", new_workplace_shift_path(@workplace), class: 'btn btn-primary'
    - if @shifts.none?
      %h3 No shifts available?
      = link_to "Post new shift", new_workplace_shift_path(@workplace), class: 'btn btn-primary'

.col-md-12.text-center
  - if @pending_users.include?(current_user)
    %h2 Your request to join has been submitted. You will receive an email once a co-worker approves you.
    
  - if @user.moderator? && @pending_users.any?
    %h2 Approve New Co-Workers
    - @pending_users.each do |pending|
      = pending.name
      %br
      = pending.email
      %br
      - pending.user_workplaces.where(workplace: @workplace).each do |pending_id|
        = link_to "Approve", user_workplace_path(pending_id, user_workplace: { pending: false }), method: :put
        = link_to "Deny", user_workplace_path(pending_id), method: :delete
  