.col-md-12.text-center
  %h1
    = @workplace.name
  %p
    = @workplace.address
    = "#{@workplace.city + ', ' + @workplace.state}"
  %br
  %br

.col-md-12.text-center
  %h2 Available Shifts
  - @shifts.each do |shift|
    = shift.name
    = shift.date
    = shift.start
    = shift.finish
    = shift.user_name
    %br
  %h3 No shifts available?
  = link_to "Post new shift!", new_workplace_shift_path(@workplace), class: 'btn btn-primary'

.col-md-12.text-center
  - if @pending_users.include?(current_user)
    %h2 Your request to join has been submitted. You will receive an email once a co-worker approves you.
    
  - if @user.moderator? && @pending_users.any?
    %h2 Approve New Co-Workers
    - @pending_users.each do |pending|
      = pending.name
      %br
      = pending.email
      %br
      - pending.user_workplaces.where(workplace: @workplace).each do |pending_id|
        = link_to "Approve", user_workplace_path(pending_id, user_workplace: { pending: false }), method: :put
        = link_to "Deny", user_workplace_path(pending_id), method: :delete
  